
body {
  margin: 0;
}

.header {
  width: 100%;
  height: 3rem;
  background-color: rgb(5, 5, 5);
  color: white;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  text-align: center;
  display: flex;
  align-items: center;
}

.spacer {
  height: 100%;
  display: flex;
  align-items: center;
}

#left-spacer {
  position: absolute;
  left: 1rem;
}

#right-spacer {
  position: absolute;
  right: 1rem;
}

#center-spacer {
  margin: 0 auto;
}

#mainLogo {
  height: 100%;
  max-height: 100%;
  width: auto;
  display: block;
  object-fit: contain;
}

.header-link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}
